@{
    var currentArea = (ViewContext.RouteData.DataTokens["area"] != null) ? ViewContext.RouteData.DataTokens["area"].ToString() : null;
    var currentController = (ViewContext.RouteData.Values["controller"] != null) ? ViewContext.RouteData.Values["controller"].ToString() : null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CPI Management</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/angular")
    </head>
    <body>
        <div id="main-menu">
            <div class="menu-body">
                <a href="/Invoice/Invoice/" class="menu-item @(currentArea == "Invoice" ? "selected" : "")">
                    <i class="material-icons">storage</i>
                    <span class="text">Invoices</span>
                </a>
                <a href="/Import/Import/" class="menu-item @(currentArea == "Import" ? "selected" : "")">
                    <i class="material-icons">face</i>
                    <span class="text">Invoices</span>
                </a>
            </div>
        </div>

        <div id="secondary-menu">
            @if (currentArea == "Invoice")
            {
                <a href="/Invoice/Invoice/" class="menu-item @(currentController == "Invoice" ? "selected" : "")">Invoices</a>
                <a href="/Invoice/InvoiceImport/" class="menu-item @(currentController == "InvoiceImport" ? "selected" : "")">Import</a>
            }
        </div>

        @RenderBody()
    </body>
</html>