@using Cpi.Application.Helpers
@using Cpi.Application.DataModels.LookUp

@{
    var currentArea = (ViewContext.RouteData.DataTokens["area"] != null) ? ViewContext.RouteData.DataTokens["area"].ToString() : null;
    var currentController = (ViewContext.RouteData.Values["controller"] != null) ? ViewContext.RouteData.Values["controller"].ToString() : null;
    var roleId = UserHelper.GetRoleId();
}

<div id="main-menu">
    <div class="menu-body">
        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.Call))
        {
            <div class="menu-item @(currentArea == "Call" ? "selected" : "")">
                <div class="menu-item-inner">
                    <i class="material-icons">call</i>
                    <span class="text">Calls</span>
                </div>

                <div class="sub-menu">
                    <div class="sub-menu-body">
                        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.Call))
                        {
                            <a href="/Call/Call/" class="sub-menu-item @(currentController == "Call" ? "selected" : "")">
                                <i class="material-icons">call</i>
                                <span class="text">Calls</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }

        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.Invoice))
        {
            <div class="menu-item @(currentArea == "Invoice" ? "selected" : "")">
                <div class="menu-item-inner">
                    <i class="material-icons">storage</i>
                    <span class="text">Invoices</span>
                </div>

                <div class="sub-menu">
                    <div class="sub-menu-body">
                        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.Invoice))
                        {
                            <a href="/Invoice/Invoice" class="sub-menu-item @(currentController == "Invoice" ? "selected" : "")">
                                <i class="material-icons">storage</i>
                                <span class="text">Invoices</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }

        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.Expense))
        {
            <div class="menu-item @(currentArea == "Expense" ? "selected" : "")">
                <div class="menu-item-inner">
                    <i class="material-icons">insert_photo</i>
                    <span class="text">Expenses</span>
                </div>

                <div class="sub-menu">
                    <div class="sub-menu-body">
                        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.Expense))
                        {
                            <a href="/Expense/Expense/" class="sub-menu-item">
                                <i class="material-icons">insert_photo</i>
                                <span class="text">Expenses</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }

        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.FinanceOverview) ||
                        UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.FinanceList) ||
                        UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.Performance))
        {
            <div class="menu-item @(currentArea == "Report" ? "selected" : "")">
                <div class="menu-item-inner">
                    <i class="material-icons">assignment</i>
                    <span class="text">Report</span>
                </div>

                <div class="sub-menu">
                    <div class="sub-menu-body">
                        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.FinanceOverview))
                        {
                            <a href="/Report/FinanceOverview/" class="sub-menu-item @(currentController == "FinanceOverview" ? "selected" : "")">
                                <i class="material-icons">monetization_on</i>
                                <span class="text">Finance Overview</span>
                            </a>
                        }

                        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.FinanceList))
                        {
                            <a href="/Report/FinanceList/" class="sub-menu-item @(currentController == "FinanceList" ? "selected" : "")">
                                <i class="material-icons">monetization_on</i>
                                <span class="text">Finance Details</span>
                            </a>
                        }

                        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.Performance))
                        {
                            <a href="/Report/Performance/" class="sub-menu-item @(currentController == "Performance" ? "selected" : "")">
                                <i class="material-icons">local_library</i>
                                <span class="text">Performance</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }

        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.User) ||
                 UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.Commodity))
        {
            <div class="menu-item @(currentArea == "Manage" ? "selected" : "")">
                <div class="menu-item-inner">
                    <i class="material-icons">business</i>
                    <span class="text">Manage</span>
                </div>

                <div class="sub-menu">
                    <div class="sub-menu-body">
                        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.User))
                        {
                            <a href="/Manage/User/" class="sub-menu-item @(currentController == "User" ? "selected" : "")">
                                <i class="material-icons">people</i>
                                <span class="text">Staff</span>
                            </a>
                        }

                        @if (UserHelper.CheckPermission((int)LookUpPermissionDm.LookUpIds.Commodity))
                        {
                            <a href="/Manage/Commodity/" class="sub-menu-item @(currentController == "Commodity" ? "selected" : "")">
                                <i class="material-icons">local_grocery_store</i>
                                <span class="text">Product</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="user-container">
        <div class="dropdown">
            <button class="dropdown-toggle main" type="button" data-toggle="dropdown">
                <span class="name">@UserHelper.GetUserFullName()</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="/Account/Logoff">Sign Out</a>
                </li>
            </ul>
        </div>

        @*@Session["Auth_UserFirstName"]*@
    </div>
</div>

<script type="text/javascript">
    $('.menu-item').click(function () {
        window.location.href = $(this).find('.sub-menu').find('.sub-menu-item:first-child').attr('href');
    });

    $(document).ready(function () {
        $('.menu-item').each(function (index) {
            var subMenuCount = $(this).find('.sub-menu .sub-menu-item').length;

            if (subMenuCount === 1) {
                $(this).find('.sub-menu').css('visibility', 'hidden');
            }
        });
    });
</script>