@using Cpi.Application.Helpers
@using Cpi.Application.DataModels.LookUp

@{
    var currentArea = (ViewContext.RouteData.DataTokens["area"] != null) ? ViewContext.RouteData.DataTokens["area"].ToString() : null;
    var currentController = (ViewContext.RouteData.Values["controller"] != null) ? ViewContext.RouteData.Values["controller"].ToString() : null;
    var roleId = UserHelper.GetRoleId();
}

<div id="main-menu">
    <div class="menu-body">
        <div class="menu-item @(currentArea == "Call" ? "selected" : "")">
            <div class="menu-item-inner">
                <i class="material-icons">call</i>
                <span class="text">Calls 外来电话</span>
            </div>

            <div class="sub-menu">
                <div class="sub-menu-body">
                    <a href="/Call/Call/" class="sub-menu-item"></a>
                </div>
            </div>
        </div>

        @if (roleId == (int)LookUpUserRoleDm.LookUpIds.老子 || roleId == (int)LookUpUserRoleDm.LookUpIds.Admin)
        {
            <div class="menu-item @(currentArea == "Invoice" ? "selected" : "")">
                <div class="menu-item-inner">
                    <i class="material-icons">storage</i>
                    <span class="text">Invoices 订单</span>
                </div>

                <div class="sub-menu">
                    <div class="sub-menu-body">
                        <a href="/Invoice/Invoice" class="sub-menu-item @(currentController == "Invoice" ? "selected" : "")">
                            <i class="material-icons">school</i>
                            <span class="text">Students</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="menu-item @(currentArea == "Expense" ? "selected" : "")">
                <div class="menu-item-inner">
                    <i class="material-icons">insert_photo</i>
                    <span class="text">Expenses 支出</span>
                </div>

                <div class="sub-menu">
                    <div class="sub-menu-body">
                        <a href="/Expense/Expense/" class="sub-menu-item"></a>
                    </div>
                </div>
            </div>

            <div class="menu-item @(currentArea == "Finance" ? "selected" : "")">
                <div class="menu-item-inner">
                    <i class="material-icons">monetization_on</i>
                    <span class="text">Finance 财务</span>
                </div>

                <div class="sub-menu">
                    <div class="sub-menu-body">
                        <a href="/Finance/Finance/" class="sub-menu-item"></a>
                    </div>
                </div>
            </div>
        }
        
        @if (roleId == (int)LookUpUserRoleDm.LookUpIds.老子 || roleId == (int)LookUpUserRoleDm.LookUpIds.Admin || roleId == (int)LookUpUserRoleDm.LookUpIds.DataSpecialist)
        {
            <div class="menu-item @(currentArea == "Performance" ? "selected" : "")">
                <div class="menu-item-inner">
                    <i class="material-icons">local_library</i>
                    <span class="text">Performance 员工评估</span>
                </div>

                <div class="sub-menu">
                    <div class="sub-menu-body">
                        <a href="/Performance/Performance/" class="sub-menu-item"></a>
                    </div>
                </div>
            </div>
        }

        @if (roleId == (int)LookUpUserRoleDm.LookUpIds.老子 || roleId == (int)LookUpUserRoleDm.LookUpIds.Admin || roleId == (int)LookUpUserRoleDm.LookUpIds.DataSpecialist)
        {
            <div class="menu-item @(currentArea == "User" ? "selected" : "")">
                <div class="menu-item-inner">
                    <i class="material-icons">people</i>
                    <span class="text">Staff 员工</span>
                </div>

                <div class="sub-menu">
                    <div class="sub-menu-body">
                        <a href="/User/User/" class="sub-menu-item"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('.menu-item').click(function () {
        debugger;
        window.location.href = $(this).find('.sub-menu').find('.sub-menu-item:first-child').attr('href');
    });

    $(document).ready(function () {
        $('.menu-item').each(function (index) {
            if ($(this).find('.sub-menu .sub-menu-item').length < 2)
            {
                $(this).find('.sub-menu').css('visibility', 'hidden');
            }
        });
    });
</script>